extends layout

block content
    section.hero.container
        h1 Bienvenue chez FooTal
        .hero-content
            p Votre partenaire de confiance pour un entretien textile impeccable.
            img(src="images/footal.png", alt="FooTal Logo", sizes="", srcset="")
            a.button(href='/services') Découvrir nos Services
