doctype html
html
head
	title FooTal
	link(rel='stylesheet', href='/stylesheets/style.css')
body
	nav.container
		div.logo 
			img(src="/images/logo.png", alt="", srcset="" width=50 height=50)
			h1 FooTal
		ul
			li
				a(href='/') Accueil
			li
				a(href='/services') Services
			li
				a(href='/contact') Contact

block content
