extends layout

block content
    br 
    br
    section.container
        h1 Nos Services
        p Bienvenue chez FooTal, votre partenaire de confiance pour tous vos besoins en entretien textile. Découvrez nos services de qualité qui répondent à toutes vos exigences en matière de blanchisserie.
        div.services
            div.card
                img(src='/images/net.jpg' alt='Nettoyage à Sec' style='width:100%')
                div.card-body
                    h2 Nettoyage à Sec
                    p Profitez de notre service de nettoyage à sec professionnel pour préserver la qualité de vos vêtements délicats. Nous sommes engagés à offrir un traitement soigneux et des résultats impeccables.

            div.card
                img(src='/images/repasse.jpg' alt='Repassage')
                div.card-body
                    h2 Repassage
                    p Confiez-nous vos vêtements pour un repassage minutieux. Notre équipe qualifiée veille à ce que chaque pli soit parfait, assurant un rendu impeccable pour chaque pièce de votre garde-robe.

            div.card
                img(src='/images/ling.jpg' alt='Linge de Maison' style='width:100%')
                div.card-body
                    h2 Linge de Maison
                    p Optez pour notre service de lavage et pliage professionnel de vos draps, taies d'oreiller et couvertures. Offrez à votre linge de maison le traitement qu'il mérite, avec une attention particulière aux détails.

        p Nos services sont conçus pour simplifier votre vie quotidienne en prenant soin de vos textiles de manière fiable et professionnelle. Faites confiance à FooTal pour un entretien textile de qualité supérieure.</p>
